body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 900;
}

a{
    text-decoration: none;
}

nav{
    position: fixed;
    z-index: 10;
    color: #0d0f21;
    background-color: #4eb970;
    width: 100%;
    height: 170px;
    padding-left: 30px;
}

.title{
    display: flex;
}

.titleLarge{
    font-size: large;   
}

nav img{
    margin-top: 44px;
    width: 29px;
    height: 20px;
}

nav h3{
    margin: 0;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px 20px;
}

nav hr{
    margin-right: 4rem;
    margin-bottom: 1.5rem;
    height: 0.2rem;
    background-color: #ffffff;
    border: none;
}

nav a{
    font-size: 16px;
    text-decoration: none;
    color: #0d0f21;
    padding: 0px 12px;
}

nav a:hover{
    color: #ffffff;
    cursor: pointer;
}

.padding{
    height: 170px;
}

main{
    min-height: 100%;
    background-color: #0d0f21;
}


.main-container{
    position: relative;
    width: 100%;
    background-color: #0d0f21;
}

.slider-container{
    width: 75%;
    margin: auto;
    overflow: hidden;
}

.carousel-slider{
    display: flex;
    width: 100%;
}

.carousel-slider img{
    max-width: 100%;
}

#prevBtn{
    position: absolute;
    transform: scale(3, 3);
    color: #4eb970;
    z-index: 5;
    top: 50%;
    left: 5%;
    cursor: pointer;
    text-shadow: -0.5px 0.5px white;
}

#nextBtn{
    position: absolute;
    transform: scale(3, 3);
    color: #4eb970;
    z-index: 5;
    top: 50%;
    right: 5%;
    cursor: pointer;
    text-shadow: 0.5px 0.5px white;
}

#prevBtn:hover{
    text-shadow: none;
}

#nextBtn:hover{
    text-shadow: none;
}

.logo{
    position: absolute;
    bottom: 47%;
    right: 42%;
    width: 15%;
    background-color: #0d0f21;
    padding: 1rem;
    box-shadow: 3px 3px 15px 1px black;
}

.logo h5{
    font-size: 1rem;
    clear: both;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    text-shadow: #565c91 1px 1px 4px 0px;
}

.logo:hover{
    box-shadow: none;
    cursor: pointer;
    color: white;
}

.logo h5:hover{
    text-shadow: none;
}

a{
    color: white;
}

.section{
    color: #0d0f21;
    background-color: #565c91;
    padding: 3% 5%;
    padding-top: 1%;
}

.section h2{
    font-size: 42px;
    color: white;
    text-shadow: 3px 3px #0d0f21;
    padding-bottom: 1%;
}

.section h3 {
    font-size: 30px;
    color: #0d0f21;
    padding-bottom: 0%;
 }

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}

.card{
    background-color: #0d0f21;
    color: white;
    padding: 1%;
    box-shadow: 4px 4px 8px 0px #0d0f21;
}

.card img{
    width: 100%;
}

.card div{
    padding: 5% 5%;
}

.card p{
    font-weight: normal;
    padding: 0% 5%;
    padding-bottom: 5%;
}

.more{
    padding: 2%;
    float: right;
}

.footer{
    position: relative;
    bottom: 0;
    z-index: 10;
    color: #0d0f21;
    background-color: #4eb970;
    height: 100px;
    padding-left: 30px;
    padding-top: 2%;   
}

.footer h3{
    font-weight: 900;
}

.profiles {
    background-color: #ffffff;
    color: #0d0f21;
    padding-right: 3%;
    box-shadow: 6px 6px 10px 0px #0d0f21;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 1rem;
}

.profiles-advisor {
    background-color: #0d0f21;
    color: #ffffff;
    padding-right: 3%;
    box-shadow: 6px 6px 10px 0px #0d0f21;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}

.profiles-advisor img {
    width: 50%;
    margin: auto;
}

.profiles-advisor p {
    font-size: 1rem;
    margin: auto;
}

#logoimg{
    padding: 25%;
}

#about{
    font-size: 1.1rem;
    text-align: center;
}

.profiles img{
    margin: auto 0px;
    width: 70%;
}

.profiles p{
    font-size: 1rem;
    grid-column: 3/8;
    margin: auto;
}

.card-ans {
    background-color: #ffffff;
    color: #0d0f21;
    padding-right: 3%;
    box-shadow: 6px 6px 10px 0px #0d0f21;
}

.card-ans p {
    font-size: 20px;
    padding: 25px;
    margin: auto;
}

.pt{
    padding-top: 2%;
}

.discord-container{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #0d0f21;
    color: #0d0f21;
}

#discordsvg{
    width: 20%;
    fill: #4eb970;
}

#discordsvg:hover {
    fill: #565c91;
}

#discordsvg:visited {
    fill: #565c91;
}

#discordsvg:active{
    fill: #565c91;
}

.fc-prev-button.fc-button.fc-button-primary {
    background-color: #0d0f21;
    border-color: #0d0f21;
}

.fc-prev-button.fc-button.fc-button-primary:hover {
    background-color: #4eb970;
    border-color: #0d0f21;
}

.fc-next-button.fc-button.fc-button-primary {
    background-color: #0d0f21;
    border-color: #0d0f21;
}

.fc-next-button.fc-button.fc-button-primary:hover {
    background-color: #4eb970;
    border-color: #0d0f21;
}

.fc-today-button.fc-button.fc-button-primary {
    background-color: #0d0f21;
    border-color: #0d0f21;
}

.fc-today-button.fc-button.fc-button-primary:disabled{
    background-color: #4eb970;
    border-color: #0d0f21;
}

.fc-today-button.fc-button.fc-button-primary:enabled:hover {
    background-color: #4eb970;
    border-color: #0d0f21;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary{
    background-color: #0d0f21;
    border-color: #0d0f21;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary:hover {
    background-color: #4eb970;
    border-color: #0d0f21;
}

.fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:not(:disabled).fc-button-active{
    background-color: #4eb970;
    border-color: #0d0f21;
}

.fc-listMonth-button.fc-button.fc-button-primary {
    background-color: #0d0f21;
    border-color: #0d0f21;
}

.fc-listMonth-button.fc-button.fc-button-primary:hover {
    background-color: #4eb970;
    border-color: #0d0f21;
}

.fc .fc-toolbar-title {
    font-size: 1.25rem;
}

.newsletter{
    background-color: #0d0f21;
    padding: 10px 0;
}

.newsletter table{
    margin: auto;
}

#discordsvgcontact{
    fill: #0d0f21;
    width: 10%;
}

#facebooksvg{
    fill: #0d0f21;
    width: 10%;
}

#gmailsvg{
    fill: #0d0f21;
    width: 9%;
}

.inputlabel{
    font-size: medium;
    width: 20%;
    height: 4%;
    border: none;
    padding: 1%;
}

.inputlabel:focus{
    border: none;
    outline: none;
}

.textarea{
    font-family: proxima-nova, sans-serif;
    font-size: medium;
    width: 40%;
    height: 40%;
    border: none;
    padding: 1%;
}

.textarea:focus{
    border: none;
    outline: none;
}

.dbtn{
    margin-top: 1%;
    border: none;
    outline: none;
    background-color: #4eb970;
    padding: 1%;
    font-size: 1rem;
    font-weight: bold;
}

.dbtn:hover{
    background-color: #4eb970;
    color: white;
    cursor: pointer;
}

.elfsight-app-2570a8a2-7a9a-4ce3-806c-0a74b19e9779{
    box-shadow: 1px 1px 4px 0px lightgray;
}

/* store styles go below here */
.itemSquare {
  height: 400px;
  width: 300px;
  background-color: grey;
  opacity: 0.5;
}
